/* selector {
    style-attribute: value;
} */

div {
    background-color: red;
    border: 3px dashed orange;

    border-color: purple;
    color: green;

    padding: 10px 200px 50px 100px;
    margin: 20px;

    font-size: 30px;
}